# Copy to terraform.tfvars and tweak. Terraform auto-loads terraform.tfvars.
container_name = "sakshi-web"
external_port  = 8000
environment    = "dev"
image_tag      = "1.27-alpine"

extra_labels = {
  team  = "sakshisaxenaa"
  owner = "sakshisaxenaa"
}
